* {
	font-family: arial, sans-serif;
	color: #545454;
}

html,
body {
	margin: 0;
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.wrapper.indexPage {
	justify-content: center;
}

.mainSection {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainSection .searchContainer {
	margin-top: 20px;
	width: 100%;
}

.mainSection .searchContainer form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainSection .searchButton {
	color: #757575;
	background-color: #f5f5f5;
	border: none;
	height: 36px;
	width: 125px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
	cursor: pointer;
	outline: none;
	user-select: none;
}

.mainSection .searchContainer .searchButton:hover{
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.mainSection .searchContainer .searchBox {
	border: none;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	height: 44px;
	border-radius: 24px;
	outline: none;
	padding: 10px;
	box-sizing: border-box;
	font-size: 16px;
	width: 482px;
	color: #222;
	transition: box-shadow: .3s;
}

.mainSection .searchContainer .searchBox:hover{
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.mainSection .logoContainer {
	width: 330px;
	text-align: center;
}

.logoContainer img {
	width: 100%
}

.header {
	background-color: #FAFAFA;
	border-bottom: 1px solid #ebebeb;
}

.wrapper .headerContent {
	display: flex;
	align-items: center;
}

.headerContent .logoContainer {
	width: 150px;
	padding: 5px 20px;
	box-sizing: border-box;
}

.headerContent .searchContainer {
	flex: 1;
}

.headerContent .searchContainer form {
	margin: 23px 0 28px 0;
}

.headerContent .searchBarContainer {
	height: 44px;
	border: 1px solid #dfe1e5;
	border-radius: 24px;
	background-color: #fff;
	box-shadow: none;
	width: 70%;
	max-width: 630px;
	display: flex;
	transition: box-shadow .3s;
}

.headerContent .searchBarContainer:hover {
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.headerContent .searchBarContainer .searchBox {
	flex: 1;
	border: none;
	background-color: transparent;
	padding: 12px;
	font-size: 16px;
	color: #000;
}

.headerContent .searchBarContainer .searchButton {
	background-color: transparent;
	height: 44px;
	margin-top: 0;
	width: 44px;
	padding-right: 20px;
	display: flex;
	justify-content: center;
	border: none;
	user-select: none;
	cursor: pointer;
}

.headerContent .searchBarContainer .searchButton img {
	width: 22px;
}

.tabsContainer {
	margin-left: 150px;
}

.tabsContainer .tabsList {
	padding: 0;
	margin: 0;
}

.tabsContainer .tabsList li {
	display: inline-block;
	padding: 0 16px 12px 16px;
	color: #777;
	font-size: 13px;
}

.tabsContainer .tabsList li a {
	text-decoration: none;
}

.tabsContainer .tabsList li.active {
	border-bottom: 3px solid #1A73E8;
}

.tabsContainer .tabsList li.active a {
	font-weight: bold;
	color: #1A73E8;
}

.mainResultsSection {
	flex: 1;
}

.mainResultsSection .resultsCount {
	font-size: 13px;
	color: #808080;
	margin-left: 150px;
}

.mainResultsSection .sitesResults {
	margin-left: 150px;
}

.resultsContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 26px;
}

.resultsContainer .title {
	margin:	0;
}

.resultsContainer .title a {
	color: #1a0dab;
	text-decoration: none;
	font-weight: normal;
	font-size: 20px;
}

.resultsContainer .title a:hover {
	text-decoration: underline;
}

.resultsContainer .url {
	color: #006621;
	font-size: 12px;
}

.resultsContainer .description {
	font-size: 16px;
	color: #4d5156;
}
.resultsContainer .level {
	font-size: 16px;
	color: #4d5156;
}.resultsContainer .entity {
	font-size: 16px;
	color: #4d5156;
}
.resultsContainer .source {
	font-size: 16px;
	color: #4d5156;
}

.paginationContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
}

.pageButtons {
	display: flex;
}

.pageNumberContainer img {
	height: 37px;
}

.pageNumberContainer,
.pageNumberContainer a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
}

.pageNumber {
	color: #000;
	font-size: 13px;
}

a .pageNumber {
	color: #4285f4;
}